@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --PaleBlue: hsl(243, 100%, 93%);
  --GrayishBlue: hsl(229, 7%, 55%);
  --DarkBlue: hsl(228, 56%, 26%);
  --VeryDarkBlue: hsl(229, 57%, 11%);
}

/* reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  font-size: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* general */

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--VeryDarkBlue);
  color: var(--PaleBlue);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  background-image: url(../images/bg-mobile.png);
}

.container {
  padding-inline: 1rem;
  margin-inline: auto;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.card > header {
  background-color: var(--DarkBlue);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.7rem 2.5rem;
  width: 100%;
  border-radius: 1rem 9rem 1rem 1rem;
}

.card .files {
  display: flex;
  gap: 1rem;
}

.files > button {
  background-color: var(--VeryDarkBlue);
  border: 0;
  outline: 0;
  padding: 0.7em 0.8em;
  border-radius: 10%;
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 400ms ease-in-out;
}

.files > button:hover {
  transform: scale(1);
}

.storage {
  background-color: var(--DarkBlue);
  padding: 2.7rem 2.5rem;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.storage > p:first-child {
  position: absolute;
  background-color: var(--PaleBlue);
  padding: 1rem;
  bottom: -3rem;
  height: 4rem;
  left: 50%;
  width: 35%;
  transform: translateX(-50%);
  color: var(--VeryDarkBlue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

@media (min-width: 52.999rem) {
  body {
    background-image: url(../images/bg-desktop.png);
  }
  .container {
    width: 90%;
  }
  .card {
    flex-direction: row;
    gap: 1rem;
  }

  .card > header {
    min-height: 40vh;
    align-items: flex-start;
    justify-content: center;
  }
  .storage {
    height: 70%;
    align-self: flex-end;
  }
  .storage > p:first-child {
    top: -5rem;
    right: 30%rem;
    transform: translateX(-30%rem);
    width: 30%;
    border-radius: 1rem 1rem 0;
  }
  .storage > p:first-child::after {
    content: "";
    height: 2.2rem;
    width: 2.2rem;
    position: absolute;
    background-color: var(--PaleBlue);
    bottom: 0.5rem;
    right: -0.03rem;
    transform: translateY(2.2rem);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.storage > p:first-child span {
  font-size: 0.9rem;
  color: var(--GrayishBlue);
}

.storage > h2 {
  text-align: center;
  font-size: 1rem;
  color: var(--GrayishBlue);
  word-spacing: 0.1em;
  letter-spacing: 0.05em;
}

.storage > h2 > strong {
  font-weight: 700;
  color: var(--PaleBlue);
}

.progress {
  display: flex;
  flex-direction: column;
}

.progress > div {
  height: 1.2rem;
  background-color: var(--VeryDarkBlue);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dot {
  position: relative;
  height: 0.9rem;
  width: 70%;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

.dot::after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: var(--PaleBlue);
  right: 0.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.progress > p:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--PaleBlue);
  font-weight: 700;
}
